.error {
    width: 100%;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    margin: 00px auto;
    color: var(--color);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    min-height: 300px;
    pointer-events: none;
    & .errorLogo {
        height: 100%;
        grid-area: 1/1/3/1;
        opacity: 0.04;
        color: var(--color);
    }
    & h1 {
        font-size: 4rem;
        grid-area: 1/1/1/1;
        align-self: flex-end;
    }
    & p {
        font-size: 1.5rem;
        align-self: flex-start;
        grid-area: 2/1/3/1;
    }
}
