.scroll {
    display: grid;
    grid-template-rows: auto 60px;
}
.scrollBottom {
    height: 60px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
    & svg {
        height: 30px;
    }
    & span {
        margin: 0 10px;
    }
}

.loader {
    animation: spin infinite 1.5s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
