.loader {
    color: var(--browser-bg);
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 300px;
    animation: fade-in-out infinite 1.5s linear;
    & svg {
        width: 100%;
    }
}

@keyframes fade-in-out {
    0% {
        color: var(--browser-bg);
    }
    50% {
        color: var(--background);
    }
    0% {
        color: var(--browser-bg);
    }
}
